.experience-div{
    margin-top: 3rem;
    text-align: center;
}

.experiences{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    position: relative;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 40px 0;
    
}

.experiences::after{
    background-color: #e17b77;
    content: '';
    position: absolute;
    width: 4px;
    height: 70%;
    left: calc(50% - 2px);
}

.experience{
    border-radius: 1.5rem;
    background-color: var(--orange);
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    margin: 10px 0;
    width: 30%;
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.experience:first-child{
    margin-right: 40rem;
}

.experience:nth-child(2){
    margin-left: 40rem;
}