.experience-div{
    margin-top: 5rem;
    text-align: center;
}

.experiences{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    position: relative;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 40px 0;
}

.experiences::after{
    background-color: #e17b77;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
}

.experience{
    background-color: purple;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 30%;
}